*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    justify-content: space-around;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 60px;
    margin-top: 10px;
    align-items: center;
}
.info{
    width: 300px;
    margin-top: 35px;
}
ul a{
    text-decoration: none;
    color: #000;
    margin: 20px;
    font-weight: 600;
}
main{
    margin: 100px;
}
.quote{
    margin: 20px;
    font-size: 50px;
}
.title{
    display: flex;
    justify-content: space-around;
}
.left{
    margin-top: 50px;
    width: 850px;
}
.right{
    margin-top: 50px;
}
#pictures{
    display: flex;
    margin: 100px;    
    justify-content: space-between;
    height: 480px;
}
.pic{
    /* height: 500px; */
    width: 500px;
    /* background-color:yellow; */
}
.pic img{
    width: 500px;
    border-radius: 30px;
}
.pic-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.pic-title{
    width: 350px;
}
.pic-title p{
    color: grey;
}
.pic-button{
    font-size: 30px;
    margin-top: 8px;
    border: 3px solid black;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover{
        background-color: black;
        color: #fff;

    }
}
footer{
    display: flex;
    justify-content: center;
}
.icon a{
    margin: 0 10px;
    color: #000;
    font-size: 20px;
}
/* .copyright{
    display: flex;
} */
.copyright p {
    font-size: 10px;
    text-align: center;
    color: gray;
    /* margin-left: 30px; */
}
